* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}

main {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, #150025, #000000);
    background-size: 500% 100%;
    animation: degrade-animado 3s alternate infinite;

}

a:visited {
    color: #ffffff;
}

header {
    color: #ffffff;
    font-weight: bold;
}

nav {
    display: flex;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 40px 10px 40px;
    border-bottom: 1px solid white;
}

.icones-redes-sociais {
    font-size: 40px;
    color: #ffffff;

}

#github {
    margin-left: 10px;
}


li {

    display: inline-block;
    list-style: none;
    cursor: pointer;
    margin-left: 27px;
    font-weight: 500;


}

li:hover {
    text-shadow: 0 0 15px;
    color: #500794;
    transition: all 0.5s ease-out;
}

.fotocapa {
    margin-top: 60px;
    width: 400px;
    border-radius: 50%;
    border: 1px solid #500794;
    box-shadow: 0 0 15px #500794;
    transform: translatey(-30px);
    animation: animacao-fotocapa 2s alternate infinite;

}

.sobre p {
    font-size: 19px;
    color: white;
    margin: 20px 0;
    max-width: 400px;
    text-align: left;
    font-weight: 300;
    padding-left: 5px;



}

.info-pessoais {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    padding: 10px;

}

.name_tittle {
    color: white;
    font-size: 50px;
    text-shadow: 0 0 100px #500794;
}

.name_tittle p {
    font-size: 20px;
}

.name_tittle h3 {
    font-size: 30px;
}

span {
    color: #500794;
    font-weight: 500;
}


/* tecnologias */
.tecnologias {

    max-width: 800px;
    margin: 0 auto;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 90px 0px;
    transition: .2s;
}

.tecnologias :hover {
    text-shadow: 0 0 15px #5a06a8;
    transform: scale(1.3);
    transition: .5s;
}

/* fomulario */
section.formulario {

    padding: 80px 4%;
    border-top: 1px solid #500794;
    box-shadow: 0 0 20px #500794;

}

.interface h2 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;

}

form {
    padding-top: 20px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

}

form input,
form textarea {
    width: 100%;
    background-color: #20023b;
    border: 0;
    outline: 0;
    padding: 15px 10px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 17px;
}

form input::placeholder {
    color: white;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form textarea::placeholder {
    color: white;
}

form .btn-enviar {
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #230242;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input:hover {

    box-shadow: 0 0 15px #5a06a8;
    transform: scale(1.05);
}

input:focus {
    border: 1px solid #360464;
    box-shadow: 0 0 10px #5a06a8;
}

form textarea:focus {
    border: 1px solid #360464;
    box-shadow: 0 0 10px #5a06a8;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;

    }

    100% {
        background-position-x: 100%;
    }
}

@keyframes animacao-fotocapa {
    0% {
        transform: translateY(0px);
    }


    100% {
        transform: translateY(-20px);
    }
}