* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}

main {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, #25033d, #000000);


}



a:visited {
    color: #ffffff;
}

header {
    color: #ffffff;
    font-weight: bold;
}

nav {
    display: flex;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 40px 10px 40px;
    border-bottom: 1px solid white;
    background-image: linear-gradient(45deg, #25033d, #000000);
    /* background-color: white; */

}

.icones-redes-sociais {
    font-size: 40px;
    color: #ffffff;

}

#github {
    margin-left: 10px;
}


li {

    display: inline-block;
    list-style: none;
    cursor: pointer;
    margin-left: 27px;
    font-weight: 500;
    /* text-shadow: 0 0 5px white; */

}

li:hover {
    text-shadow: 0 0 15px;
    color: #9405b1;
    transition: all 0.5s ease-out;
}

.fotocapa {
    margin-top: 60px;
    width: 400px;
    border-radius: 50%;
    border: 1px solid #500794;
    box-shadow: 0 0 15px #500794;

    /* animation-name: animacao;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite; */

}

.sobre p {
    font-size: 19px;
    color: white;
    margin: 20px 0;
    max-width: 400px;
    text-align: left;
    font-weight: 300;
    padding-left: 5px;



}

.info-pessoais {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    padding: 10px;

}

.name_tittle {
    color: white;
    font-size: 50px;
    text-shadow: 0 0 15px #500794;
}

.name_tittle p {
    font-size: 20px;
}

.name_tittle h3 {
    font-size: 30px;
}

span {
    color: #500794;
    font-weight: 500;
}




/* fomulario */
section.formulario {
    background-image: linear-gradient(45deg, #25033d, #000000);
    padding: 80px 4%;
    border-top: 1px solid #500794;
    box-shadow: 0 0 20px #500794;

}

.interface h2 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;

}

form {
    padding-top: 20px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

}

form input,
form textarea {
    width: 100%;
    background-color: #360464;
    border: 0;
    outline: 0;
    padding: 15px 10px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 17px;
}

form input::placeholder {
    color: white;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form textarea::placeholder {
    color: white;
}

form .btn-enviar {
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #360464;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input:hover {

    box-shadow: 0 0 15px #5a06a8;
    transform: scale(1.05);
}

input:focus {
    border: 1px solid #360464;
    box-shadow: 0 0 10px #5a06a8;
}

form textarea:focus {
    border: 1px solid #360464;
    box-shadow: 0 0 10px #5a06a8;
}